.cookie-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    line-height:1.2;
}
.cookie-column {
    float: left;
    position: relative;
}
.cookie-column-innter {
    padding-left: 15px;
    padding-right: 15px;
}
.accept-cookies.cookie-btn {
    padding: 4px 15px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 2px;
}
@media only screen and (max-width:767px) {
    .cookie-column-innter.cookie-text {
        font-size: 0.8rem;
    }
}
.cookie-btn {
    transition: all 200ms ease;
}
.cookie-wrapper-container-footer {
    text-align: center;
}
.clearfix::after {
    content: "";
    display: table;
    float: none;
    width: 100%;
}
.cookie-column-footer {
    justify-content: center;
}
